<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <script src="/js/index.js"></script>
</head>
<body>
<table>
    <tr>
        <td>
            <form>
                <label about="insert new tree value">
                    <input type="number">
                </label>
                <input onclick="postForm('{{ post_url }}', 'insert', this)" type="button" value="Insert">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form>
                <label about="remove tree value">
                    <input type="number">
                </label>
                <input onclick="postForm('{{ post_url }}', 'remove', this)" type="button" value="Remove">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form>
                <label about="find tree value">
                    <input type="number">
                </label>
                <input onclick="postForm('{{ post_url }}', 'find', this)" type="button" value="Find">
            </form>
        </td>
    </tr>
</table>

<form action="#" method="post">
    <input type="button" value="Save">
</form>

<div style="width: 300px; height: 300px">
    <canvas id="canvas" width="1200" height="800">

    </canvas>
</div>
<script>
    let tree = {{ tree | safe }};
    if (Object.entries(tree).length !== 0) {
        draw(false, location.pathname.substring('/tree/'.length), null, tree);
    }
</script>
</body>
</html>